@let todoList = todos();

<h2 class="text-3xl font-bold">Todo List 📋</h2>

<div class="mt-6 ml-2">
  @if (isFetching()) {
    <div class="w-fit relative">
      <z-loader [zSize]="'sm'" />
    </div>
  } @else {
    <p>There are currently {{ todoList.length }} {{ todoList.length < 2 ? 'todo' : 'todos' }}</p>
    <ul class="mt-5">
      @for (todo of todoList; track todo.id) {
        <ph-todo-item [todo]="todo" />
      } @empty {
        <p>There are currently no todo.</p>
      }
    </ul>
  }
</div>
